<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Heatmap.js Performance Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			body, html {
				margin:0;
				padding:0;
				font-family:Arial;
			}
			h1 {
				margin-bottom:10px;
                font-size:24px;
			}
			#main {
				position:relative;
				width:940px;
				padding:20px;
				margin:auto;
			}
			#main1 {
				position:relative;
				width:940px;
				padding:20px;
				margin:auto;
			}
			#heatmapArea {
				position:relative;
				width:1000px;
				height:600px;
				background-image :url("../static/datacenterRoom2.png");
				background-size: cover, cover;
				border:1px solid black;

            }
			#GrafanaArea {
				position:relative;
				width:450px;
				height:200px;
				border:1px solid black;

            }
            #result {
            	margin-top:15px;
            }
			</style>
		 <link rel="shortcut icon" type="image/png" href="http://www.patrick-wied.at/img/favicon.png" />
	</head>
	<body>
		<div id="main">
			<h1> Dashboard Monitoring</h1>
			<div id="main1">
			<!-- graph -->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603192193535&to=1603197593535&panelId=2" 
			width="900" height="200" frameborder="0"></iframe>
			<!-- sensor1 -->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603192283463&to=1603197683463&panelId=4" 
			width="450" height="200" frameborder="0"></iframe>
			<!-- sensor2 -->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603201511129&to=1603205711129&panelId=19" 
			width="450" height="200" frameborder="0"></iframe>
			<!-- mean  sensor1-->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603192353697&to=1603197753698&panelId=8" 
			width="450" height="70" frameborder="0"></iframe>
			<!-- mean sensor2 -->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603192407475&to=1603197807476&panelId=14" 
			width="450" height="70" frameborder="0"></iframe>
			<!-- max sensor1 -->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603192432466&to=1603197832467&panelId=10" 
			width="450" height="70" frameborder="0"></iframe>
			<!-- max sensor2 -->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603192463209&to=1603197863209&panelId=16" 
			width="450" height="70" frameborder="0"></iframe>
			<!-- min sensor1 -->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603192498796&to=1603197898796&panelId=12" 
			width="450" height="70" frameborder="0"></iframe>
			<!-- min sensor2 -->
			<iframe src="http://10.100.100.188:3000/d-solo/LHRFfZkgz/temp?orgId=1&from=1603192531037&to=1603197931037&panelId=18" 
			width="450" height="70" frameborder="0"></iframe>
		</div>
		<h1> Heatmap on R301 room</h1>
		    <div id="heatmapArea">
			
		    </div>
                    <div id="result"></div>
		</div>
	</script>

	
	
	
	

		<script type="text/javascript" src="../static/heatmapV3.js"></script>
                <script type="text/javascript" src="../static/data.js"></script>
		<script type="text/javascript">
	
	
		window.onload = function(){
					var text_sensor1 = '{{temp_sensor1}}';
					var text_sensor2 = '{{temp_sensor2}}';
					var temp_1 = parseFloat(text_sensor1);
					var temp_2 = parseFloat(text_sensor2);
                    var data = {
        		"max":30, "data":[
            						//leck1 sensor1
							{"x":250,"y":70,"count":temp_1},//{"x":270,"y":90,"count":temp_1},{"x":230,"y":90,"count":temp_1},
									//leck1 sensor2
							{"x":250,"y":280,"count":temp_2},
							// {"x":250,"y":70,"count":23.062},
							// {"x":250,"y":280,"count":28},
						]},
                        start = +new Date,
                        heatmapInstance;
                        
                    heatmapInstance = h337.create({
						"element":document.getElementById("heatmapArea"), 
						"opacity": 0.1,
                        "radius":40,
						"visible":true,
						"maxOpacity": 1,
  						"minOpacity": 0,
                        "legend": {
                            "title": "Temperature (c°)",
                            "position": "bl",
                            "offset": 5
                            
						},
                    });

                    heatmapInstance.store.setDataSet(data);    
                    document.getElementById("result").innerHTML = "Creating the heatmap and rendering it took " + (((+new Date)-start)+'ms for ' + data.data.length + ' datapoints');
                };
		</script>
		<center>
		 <p>senor1 : {{temp_sensor1}}</p>
		 <p>sensor2 : {{temp_sensor2}}</p>
		 <input type="button" value="get" onclick="get_value()"/>
		 <script>
			 function get_value(){
			 var text_sensor1 = '{{temp_sensor1}}';
			 var text_sensor2 = '{{temp_sensor2}}';
			 var temp_1 = parseFloat(text_sensor1);
			 var temp_2 = parseFloat(text_sensor2);
			 console.log(temp_1);
			 console.log(temp_2);
			 }
		 </script>
		 </center>
	</body>
</html>